{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
      <h1>Sobre Nós</h1>
    </div>

    <div class="d-flex justify-content-center text-center mt-5">
      <div>
          <div>IMG</div>
        <h2>Kenned Barbosa</h2>
        <p class="mx-5" style=" width: 300px">Sobre kenned</p>
      </div>
      <div>
          <div>IMG</div>
        <h2>Geraldo Sobreira</h2>
        <p class="mx-5" style=" width: 200px">Programador Full-Stack, Stacks: React.js, TailwindCSS, Bootstrap,  Django, Laravel</p>
      </div>
    </div>
{% endblock %}